.content {
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr;
    gap: $inter-spacing;

    padding: 0 $inter-spacing;
    background-color: $dark-colour;

    .main-feature {
        grid-column: 1 / 2;

        display: grid;
        grid-template-rows: 1fr min-content;
        grid-template-columns: auto;
    }

    .sidebar {
        grid-column: 2 / 3;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: $inter-spacing;
    }
}