.home {
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr;
    gap: 2 * $general-padding;

    padding: 2 * $general-padding;
    background-color: $light-colour;

    .message-box {
        grid-column: 1 / 2;
        // background-color: antiquewhite;
        color: $dark-colour
    }

    .nav-box {
        grid-column: 2 / 3;
        color: $dark-colour;
        // background-color: cornflowerblue;
    }
}