.home {
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr;
    gap: $inter-spacing;

    padding: 0 $inter-spacing;
    background-color: $dark-colour;

    .message-box {
        grid-column: 1 / 2;
        border: $standard-border;
    }

    .nav-box {
        grid-column: 2 / 3;
        // border: $standard-border;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: $inter-spacing;

    }
}