.signup {
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr;
    gap: 2 * $general-padding;

    padding: 2 * $general-padding;
    background-color: $light-colour;
    color: $dark-colour;

    .signup-form {
        grid-column: 1 / 2;
        // background-color: antiquewhite;
    }

    .info {
        grid-column: 2 / 3;
        // background-color: cornflowerblue;
    }
}