<form method="POST" action="deletemessage">
    <input type="hidden" name="messageid" value={{ message_id }}>
    <button type="submit" class="button-link-delete">
        <p>DEL</p>
    </button>
</form>
