    <div class="info">
        <ul>
            <li>
                Sign up and add to the chat!
            </li>
            <li>
                Become a member to see other users!
                You'll need to guess the access code...
            </li>
            <li>
                Accounts inactive for more than 90 days will be deleted.
            </li>
        </ul>
    </div>