<form class="login-form">
    <div class="login-title">
        <p>LOG IN AND<span> STREAM ON</span></p>
    </div>
    <div class="login-entities">
        <div class="login-entity-row">
            {{> email}}
            {{> password}}
        </div>
    </div>
    <div class="login-button">
        <button type="submit">LOG IN</button>
        <p>NEW TO THE STREAM? <a>SIGN UP</a></p>
    </div>
</form>