<form class="login-form">
    <div class="login-title">
        <p>LOG IN AND <span>STREAM ON</span></p>
    </div>
    <div class="login-data">
        <div class="login-row-1">
            {{> email}}
            {{> password}}
        </div>
    </div>
    <div class="login-button">
        <button type="submit">LOG IN</button>
    </div>
</form>