<form method="POST" action="/memberattempt" class="membership-form">
    <div class="membership-title">
        <p>GUESS THE PASSWORD AND YOU'LL BE A<span> MEMBER</span></p>
    </div>
    <div class="membership-entities">
        <div class="membership-entity-row">
            {{> inputs/becomeamember}}
        </div>
    </div>
    <div class="membership-button">
        <button type="submit">BECOME A MEMBER</button>
    </div>
</form>