<form class="signup-form">
    <div class="signup-title">
        <p>SIGN UP AND<span> STREAM ON</span></p>
    </div>
    <div class="signup-entities">
        <div class="signup-entity-row">
            {{> email}}
            {{> displayname}}
        </div>
        <div class="signup-entity-row">
            {{> password}}
            {{> confirmpassword}}
        </div>
    </div>
    <div class="signup-button">
        <button type="submit">SIGN UP</button>
        <p>RETURNING STREAMER? <a href="/login">LOG IN</a></p>
    </div>
</form>