<form method="POST" action="/signup" class="signup-form">
    <div class="signup-title">
        <p>SIGN UP AND<span> STREAM ON</span></p>
    </div>
    <div class="signup-entities">
        <div class="signup-entity-row">
            {{> inputs/email}}
            {{> inputs/displayname}}
        </div>
        <div class="signup-entity-row">
            {{> inputs/password}}
            {{> inputs/confirmpassword}}
        </div>
    </div>
    <div class="signup-button">
        <button type="submit">SIGN UP</button>
        <p>RETURNING STREAMER? <a href="/login">LOG IN</a></p>
    </div>
</form>