<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <title>STREAM OF CONSCIOUSNESS</title>
</head>
<body>
    <header>
        <p><a href="/main">STREAM OF CONSCIOUSNESS</a></p>
    </header>
    {{{body}}}
    <footer>
        <div class="footer-content">
            <div class="footer-image">
                <img src="../public/images/github-mark-white.png">
            </div>
            <div class="footer-text">
                <span>HPatto</span>
            </div>
        </div>
    </footer>
</body>
</html>