<main class="content">
    <div class="main-feature">
        {{> components/adminmessagebox}}
        {{> components/messageinput}}
    </div>
    <div class="sidebar">
        {{> components/logoutlink}}
    </div>
</main>