<main class="error">
    <div class="error-title">
        <p>Whoops! Something went wrong.</p>
    </div>
    <div class="error-message">
        <a href="/"><p>Try again?</p></a>
    </div>
</main>
