<p class="bg-light text-mid">I have a light bg, and mid text</p>
<p class="bg-light text-dark">I have a light bg, and dark text</p>
<p class="bg-mid text-light">I have a mid bg, and light text</p>
<p class="bg-mid text-dark">I have a mid bg, and dark text</p>
<p class="bg-dark text-light">I have a dark bg, and light text</p>
<p class="bg-dark text-mid">I have a dark bg, and mid text</p>