<main class="content">
    <div class="main-feature">
        {{> components/defaultmessagebox}}
    </div>
    <div class="sidebar">
        {{> components/loginlink}}
        {{> components/signuplink}}
        {{> info}}
    </div>
</main>