<main class="home">
    <div class="message-box">
        I am the message box viber.
    </div>
    <div class="nav-box">
        {{> components/loginlink}}
        {{> components/signuplink}}
    </div>
</main>