<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <title>STREAM OF CONSCIOUSNESS</title>
</head>
<body>
    <header>
        <h2>We will include a header here.</h2>
    </header>
    <main>
        <h2>Serious vibes</h2>
        <h3>Here, we include some custom content</h3>
    </main>
    <footer>
        <h2>We will include a footer here.</h2>
    </footer>
</body>
</html>