<main class="login">
    <form class="login-form">
        <input type="text" placeholder="Log tf in mfer">
    </form>
    <div class="info">
        <p>Here we have information</p>
    </div>
</main>