<main class="signup">
    <form class="signup-form">
        <input type="text" placeholder="We want text here">
    </form>
    <div class="info">
        <p>Here we have information</p>
    </div>
</main>