button,
.button-link {
    background-color: $accent-colour;

    font-size: $button-text-size;
    font-weight: $button-text-weight;
    color: $light-colour;

    border:  $standard-border;
    border-radius: $border-radius;
    padding: $entity-padding;
    outline: none;
}

.button-link-delete {
    background-color: $warning-colour;

    font-size: $message-text-size;
    font-weight: $button-text-weight * 0.9;
    color: $light-colour;

    border:  $warning-colour solid $border-thickness;
    border-radius: $border-radius;
    padding: $entity-padding * 0.5;
    outline: none;
}


.button-link,
.button-link-delete {
    p {
        text-align: center;
    }
}