button,
.button-link {
    background-color: $accent-colour;

    font-size: $button-text-size;
    font-weight: $button-text-weight;
    color: $light-colour;

    border:  $standard-border;
    border-radius: $border-radius;
    padding: $entity-padding;
    outline: none;
}


.button-link {
    p {
        text-align: center;
    }
}