// Stylesheet for the header section

header {
    grid-row: 1 / 2;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    padding: $general-padding;

    background-color: $dark-colour;
    color: $light-colour;

    p {
        font-size: $header-text-size;
        font-weight: $header-text-weight;

        letter-spacing: $header-text-size * 0.5;

        a {
            text-decoration: none;
            color: inherit;
        }

        a:visited {
            text-decoration: none;
            color: inherit;
        }
    }
}