#email,
#password {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: $general-padding;
    width: 25em;

    .field-header p {
        font-size: $element-title-text-size;
        font-weight: $element-title-text-weight;
        color: $light-colour;
    }

    input {
        font-size: $element-content-text-size * 0.7;
        font-weight: $element-content-text-weight * 0.7;
        color: $light-colour;
        background-color: $dark-colour;
    
        border:  3px solid $accent-colour;
        border-radius: 10px;
        padding: $general-padding * 0.8;
        outline: none;
    }
}
