@import url(../../node_modules/normalize.css/normalize.css);
header {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  background-color: #39375B;
  color: #f9faf8; }
  header p {
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.875rem; }

footer {
  grid-row: 3 / 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #39375B;
  color: #f9faf8; }
  footer .footer-content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    gap: 0.6rem; }
    footer .footer-content .footer-image {
      grid-column: 1 / 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center; }
      footer .footer-content .footer-image img {
        height: 1.26rem;
        padding-bottom: 0.105rem; }
    footer .footer-content .footer-text {
      grid-column: 2 / 3;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      footer .footer-content .footer-text span {
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0.07rem;
        line-height: 1; }

#email,
#password {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 1rem;
  width: 25em; }
  #email .field-header p,
  #password .field-header p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #f9faf8; }
  #email input,
  #password input {
    font-size: 0.7rem;
    font-weight: 280;
    color: #f9faf8;
    background-color: #39375B;
    border: 3px solid #027148;
    border-radius: 10px;
    padding: 0.8rem;
    outline: none; }

.home {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1fr;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9faf8; }
  .home .message-box {
    grid-column: 1 / 2;
    color: #39375B; }
  .home .nav-box {
    grid-column: 2 / 3;
    color: #39375B; }

.signup {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1fr;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9faf8;
  color: #39375B; }
  .signup .signup-form {
    grid-column: 1 / 2; }
  .signup .info {
    grid-column: 2 / 3; }

.login {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1fr;
  gap: 2rem;
  padding: 2rem;
  background-color: #39375B; }
  .login .login-form {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 6rem; }
    .login .login-form .login-title {
      text-align: left; }
      .login .login-form .login-title p {
        color: #f9faf8;
        font-size: 1.5rem;
        font-weight: 500;
        color: #f9faf8; }
      .login .login-form .login-title span {
        color: #027148; }
    .login .login-form .login-data .login-row-1 {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 6rem; }
    .login .login-form .login-button button {
      background-color: #027148;
      font-size: 1.2rem;
      font-weight: 500;
      color: #f9faf8;
      border: 3px solid #f9faf8;
      border-radius: 10px;
      padding: 0.8rem;
      outline: none; }
  .login .info {
    grid-column: 2 / 3;
    color: #f9faf8;
    font-size: 26px; }

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif; }

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr; }
