@import url(../../node_modules/normalize.css/normalize.css);
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif; }

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr; }

a {
  text-decoration: none;
  color: inherit; }

a:visited {
  text-decoration: none;
  color: inherit; }

.full-width {
  width: 100%; }

header {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  background-color: #39375B;
  color: #f9faf8; }
  header p {
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.875rem; }

footer {
  grid-row: 3 / 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #39375B;
  color: #f9faf8; }
  footer .footer-content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    gap: 0.6rem; }
    footer .footer-content .footer-image {
      grid-column: 1 / 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center; }
      footer .footer-content .footer-image img {
        height: 1.26rem;
        padding-bottom: 0.105rem; }
    footer .footer-content .footer-text {
      grid-column: 2 / 3;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      footer .footer-content .footer-text span {
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0.07rem;
        line-height: 1; }

.input-entity {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 0.5rem;
  width: 23.4rem; }
  .input-entity .input-entity-header p {
    font-size: 1.5rem;
    font-weight: 550;
    color: #f9faf8; }
  .input-entity input {
    font-size: 1.3rem;
    font-weight: 400;
    color: #f9faf8;
    background-color: #39375B;
    border: 0.2rem solid #027148;
    border-radius: 0.8rem;
    padding: 0.5rem;
    outline: none; }

.info ul {
  list-style: none;
  padding: 0; }
  .info ul li {
    font-size: 1.3rem;
    font-weight: 600;
    color: #f9faf8;
    background-color: #39375B;
    padding: 1rem;
    border: 0px;
    border-radius: 0.8rem;
    outline: none; }

button,
.button-link {
  background-color: #027148;
  font-size: 1.2rem;
  font-weight: 600;
  color: #f9faf8;
  border: 0.2rem solid #027148;
  border-radius: 0.8rem;
  padding: 0.5rem;
  outline: none; }

.button-link-delete {
  background-color: maroon;
  font-size: 1.1rem;
  font-weight: 540;
  color: #f9faf8;
  border: maroon solid 0.2rem;
  border-radius: 0.8rem;
  padding: 0.25rem;
  outline: none; }

.button-link p,
.button-link-delete p {
  text-align: center; }

.message-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1.2rem;
  gap: 1.2rem;
  overflow: auto;
  max-height: 22.55rem; }

.message-entity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-left: 0.2rem solid #f9faf8;
  border-bottom: 0.2rem solid #f9faf8;
  border-radius: 0.4rem; }
  .message-entity .message-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; }
  .message-entity a {
    flex: 0 0 auto; }

.message-text {
  flex: 1 0 auto; }
  .message-text p {
    font-size: 1.1rem;
    font-weight: 500;
    color: #f9faf8;
    background-color: #39375B;
    padding: 0.25rem;
    border: 0px;
    border-radius: 0.8rem;
    outline: none; }

.message-info {
  flex: 1 0 auto;
  font-size: 0.8rem;
  font-weight: 400;
  color: #f9faf8;
  background-color: #39375B;
  padding: 0.25rem;
  border: 0px;
  border-radius: 0.8rem;
  outline: none; }

.message-input {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.2rem solid #f9faf8;
  border-radius: 0.8rem; }
  .message-input input {
    flex: 1 0 auto;
    font-size: 1.3rem;
    font-weight: 400;
    color: #f9faf8;
    background-color: #39375B;
    padding: 0.5rem;
    border: 0px;
    border-radius: 0.8rem;
    outline: none; }
  .message-input .send-message-button {
    flex: 0 0 auto; }
    .message-input .send-message-button .enclosed-send-button {
      border-radius: 0;
      border-bottom-right-radius: 0.6rem;
      border-top-right-radius: 0.6rem; }

.content {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1fr;
  gap: 1.5rem;
  padding: 0 1.5rem;
  background-color: #39375B; }
  .content .main-feature {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: auto; }
  .content .sidebar {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.5rem; }

.login {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1fr;
  gap: 1.5rem;
  padding: 0 1.5rem;
  background-color: #39375B; }
  .login .login-form {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column; }
    .login .login-form .login-title {
      text-align: left;
      padding: 1.5rem 0; }
      .login .login-form .login-title p {
        color: #f9faf8;
        font-size: 1.5rem;
        font-weight: 550;
        letter-spacing: 0.15rem; }
      .login .login-form .login-title span {
        color: #027148;
        letter-spacing: 0.75rem; }
    .login .login-form .login-entities {
      padding: 1.5rem 0; }
      .login .login-form .login-entities .login-entity-row {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 4rem; }
    .login .login-form .login-button {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 1.2rem;
      padding: 1.5rem 0; }
      .login .login-form .login-button p {
        font-size: 1.2rem;
        font-weight: 600;
        color: #f9faf8; }
        .login .login-form .login-button p a {
          color: #027148; }

.signup {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1fr;
  gap: 1.5rem;
  padding: 0 1.5rem;
  background-color: #39375B; }
  .signup .signup-form {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column; }
    .signup .signup-form .signup-title {
      text-align: left;
      padding: 1.5rem 0; }
      .signup .signup-form .signup-title p {
        color: #f9faf8;
        font-size: 1.5rem;
        font-weight: 550;
        letter-spacing: 0.15rem; }
      .signup .signup-form .signup-title span {
        color: #027148;
        letter-spacing: 0.75rem; }
    .signup .signup-form .signup-entities {
      padding: 1.5rem 0;
      display: flex;
      flex-direction: column;
      gap: 1.2rem; }
      .signup .signup-form .signup-entities .signup-entity-row {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 4rem; }
    .signup .signup-form .signup-button {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 1.2rem;
      padding: 1.5rem 0; }
      .signup .signup-form .signup-button p {
        font-size: 1.2rem;
        font-weight: 600;
        color: #f9faf8; }
        .signup .signup-form .signup-button p a {
          color: #027148; }

.membership-attempt {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1fr;
  gap: 1.5rem;
  padding: 0 1.5rem;
  background-color: #39375B; }
  .membership-attempt .membership-form {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column; }
    .membership-attempt .membership-form .membership-title {
      text-align: left;
      padding: 1.5rem 0; }
      .membership-attempt .membership-form .membership-title p {
        color: #f9faf8;
        font-size: 1.5rem;
        font-weight: 550;
        letter-spacing: 0.15rem; }
      .membership-attempt .membership-form .membership-title span {
        color: #027148;
        letter-spacing: 0.75rem; }
    .membership-attempt .membership-form .membership-entities {
      padding: 1.5rem 0; }
      .membership-attempt .membership-form .membership-entities .membership-entity-row {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 4rem; }
    .membership-attempt .membership-form .membership-button {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 1.2rem;
      padding: 1.5rem 0; }
      .membership-attempt .membership-form .membership-button p {
        font-size: 1.2rem;
        font-weight: 600;
        color: #f9faf8; }
        .membership-attempt .membership-form .membership-button p a {
          color: #027148; }

.error {
  padding: 0 1.5rem;
  background-color: #39375B; }
  .error .error-title {
    text-align: left;
    padding: 1.5rem 0; }
    .error .error-title p {
      color: #f9faf8;
      font-size: 1.5rem;
      font-weight: 550;
      letter-spacing: 0.15rem; }
  .error .error-message p {
    font-size: 1.3rem;
    font-weight: 600;
    color: #f9faf8;
    background-color: #39375B; }
