<div class="input-entity">
    <div class="input-entity-header">
        <div class="input-entity-title">
            <p>Confirm Password*</p>
        </div>
        <div class="input-entity-errors">
            <ul>
                {{#each confirmpasswordError}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>

    </div>

    <input name="confirmpassword" type="password">
</div>