<div class="input-entity">
    <div class="input-entity-header">
        <p>Display Name (Optional)</p>
    </div>
    <input placeholder="Permitted: 0-9, a-z, A-Z, -, _" name="displayname" type="name" maxlength="20" pattern="^[a-zA-Z0-9_-]{1,20}$">
</div>