<div class="input-entity">
    <div class="input-entity-header">
        <p>Display Name (Optional)</p>
    </div>
    <input placeholder="Larry Fisherman" name="displayname" type="name" maxlength="20">
</div>