<div class="input-entity">
    <div class="input-entity-header">
        <p>E-mail</p>
    </div>
    {{!-- <input required placeholder="macmiller@donttrip.com" name="email" type="email"> --}}
    <input placeholder="macmiller@donttrip.com" name="email">
</div>