<div class="input-entity">
    <div class="input-entity-header">
        <div class="input-entity-title">
            <p>E-mail*</p>
        </div>
        <div class="input-entity-errors">
            <ul>
                {{#each emailError}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <input required placeholder="macmiller@donttrip.com" name="email" value={{givenEmail}}>
</div>