<div class="input-entity">
    <div class="input-entity-header">
        <p>Password</p>
    </div>
    {{!-- <input required name="password" type="password" minlength="8"> --}}
    <input name="password" type="password">
</div>