<div class="input-entity">
    <div class="input-entity-header">
        <div class="input-entity-title">
            <p>Password*</p>
        </div>
        <div class="input-entity-errors">
            <ul>
                {{#each passwordError}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <input required name="password" type="password" minlength="8" placeholder="Min. 8 chars.">
</div>