// CSS variables for the web application

// Colour palette
$dark-colour: #39375B;
$mid-colour: #027148;
$light-colour: #f9faf8;

// Text //
$font-size: 30px;
$font-weight: 600;
$font-family: "Lucida Grande", Helvetica, Arial, sans-serif;

// Layout
$general-padding: 10px;