// CSS variables for the web application

// Colour palette
$light-pink: #FFDEFA;
$mid-blue: #6886C5;
$dark-purple: #39375B;


// Text //
$font-size: 30px;
$font-weight: 600;
$font-family: "Lucida Grande", Helvetica, Arial, sans-serif;