// Main stylesheet for the web application

// Import defaults

@import "../../node_modules/normalize.css/normalize.css";
@import "../../src/stylesheets/variables";


// Define global styles

* {
    box-sizing: border-box;
    margin: 0px;

    font-family: $font-family;
}

body {
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.full-width {
    width: 100%;
}


// Import specific styles

@import "../stylesheets/standard/header.scss";
@import "../stylesheets/standard/footer.scss";
@import "../stylesheets/standard/inputentity.scss";
@import "../stylesheets/standard/info.scss";
@import "../stylesheets/standard/button.scss";
@import "../stylesheets/standard/messagebox.scss";
@import "../stylesheets/standard/messageentity.scss";
@import "../stylesheets/standard/messagecontent.scss";
@import "../stylesheets/standard/messageinput.scss";


@import "../stylesheets/custom/feature.scss";
@import "../stylesheets/custom/login.scss";
@import "../stylesheets/custom/signup.scss";
@import "../stylesheets/custom/membershipattempt.scss";
@import "../stylesheets/custom/error.scss";