// Main stylesheet for the web application

// Import variables
@import "../../node_modules/normalize.css/normalize.css";
@import "../../src/stylesheets/variables";
@import "../stylesheets/standard/header.scss";
@import "../stylesheets/standard/footer.scss";
@import "../stylesheets/standard/inputfield.scss";
@import "../stylesheets/custom/home.scss";
@import "../stylesheets/custom/signup.scss";
@import "../stylesheets/custom/login.scss";

* {
    box-sizing: border-box;
    margin: 0px;

    font-family: $font-family;
}

body {
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}