<div class="message-box">
    {{> components/messages/messageentitydefault}}
    {{> components/messages/messageentitydefault}}
    {{> components/messages/messageentitydefault}}
    {{> components/messages/messageentitydefault}}
</div>