<div class="message-input full-width">
    <input type="text" maxlength="200" required placeholder="What's on your mind?">
    <div class="send-message-button">
        <button class="enclosed-send-button" type="submit">
            SEND
        </button>
    </div>
</div>