<div class="message-box">
    {{> components/messages/messageentityadmin}}
    {{> components/messages/messageentityadmin}}
    {{> components/messages/messageentityadmin}}
    {{> components/messages/messageentitymember}}
    {{> components/messages/messageentitymember}}
    {{> components/messages/messageentitymember}}
    {{> components/messages/messageentitydefault}}
    {{> components/messages/messageentitydefault}}
    {{> components/messages/messageentitydefault}}
</div>